<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jolt Taxi</title>

    <!-- Custom fonts for this template-->
    {% load static %}
    <link rel = "{% static 'admin/css/map-icons.min.css'%}}" rel = "stylesheet" type="text/css">
    <link href="{% static 'admin/css/vendor/select2/select2.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'admin/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href = "{% static 'admin/css/rating.css' %}" rel = "stylesheet" type="text/css">
	<script src = "{% static 'admin/js/googlemaps.js' %}"></script>
	
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                
                <div class="sidebar-brand-text mx-3">Jolt Taxi</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>
			
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <li class="nav-item">
                <a class="nav-link" href={% url 'appRiderSettings'%}>
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Account Settings</span></a>
            </li>
            </li>
			
			<li class="nav-item">
                <a class="nav-link" href={% url 'appRiderHistory'%}>
                    <i class="fas fa-fw fa-table"></i>
                    <span>Travel History</span></a>
            </li>
			
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href={% url 'appRider' %}>
                    <i class="fas fa-fw fa-laugh-wink"></i>
                    <span>App</span></a>
            </li>

            

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
				
				
				
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    
                        <!-- Nav Item - Messages -->
                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.lastName}}{{" "}}{{user.firstName}}</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
				
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Welcome to Jolt Taxi!</h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row col-xl-12">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Jolt Map</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class = "card-body">
									
									<div class="d-flex flex-row justify-content-start mb-4">
										<div id="map" style = "height: 600px; width: 1600px"></div>
										<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
										<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaF_Bx3Xu7c6az61Hmj8Pp0LxdY1Lyr40&libraries=places&callback=initMap" defer></script>
									</div>
									
								</div>
                            </div>
                        </div>

                        
                    </div>
					
					<div class="row col-xl-12">

                        <!-- Area Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Get a ride!</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <form class = "travel">
                                        <fieldset>
                                            <div class = "form-group">
                                                <input type = "text" class = "form-control form-control-user" id = "autocomplete" placeholder = "Search for a destination ..." />
                                            </div>
                                            <div class = "form-group">
                                                <input type = "text" class = "form-control form-control-user" id = "trip-details" placeholder = "Specify ride details ..." />
                                            </div>
                                            <div class = "form-group">
                                                <input type = "button" class="btn btn-primary btn-user btn-block" id = "look-for-a-ride-button" value = "Look for a ride">
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
						
						<div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Current ride!</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id = "trip-status"></div>
                                    <div id = "driver-info">
                                    </div>
                                    <div id = "trip-info"></div>
                                    <div id = "review-info"></div>
                                    <input type = "button" class = "btn btn-primary btn-user btn-block" id = "cancel-trip" value = "Cancel your trip" style = "display:none">
                                    <div id = "rating-wrapper" style = "display:none">

                                        <div class="container-wrapper">  
                                            <div class="container-rating d-flex align-items-center justify-content-center">
                                              <div class="row justify-content-center">    
                                                
                                                <!-- star rating -->
                                                <div class="rating-wrapper">
                                                  
                                                  <!-- star 5 -->
                                                    <label for="5-star-rating" class="star-rating star label-rating input-star-rating-container">
                                                        <i class="fas fa-star d-inline-block rating-button"></i>
                                                        <input type="radio" id="5-star-rating" name="star-rating" class="input-rating rating-button" value="5">
                                                    </label>
                                                   <!-- star 4 -->
                                                  <div class="input-star-rating-container">
                                                    <input type="radio" id="4-star-rating" name="star-rating" class="input-rating rating-button" value="4">
                                                    <label for="4-star-rating" class="star-rating star label-rating">
                                                        <i class="fas fa-star d-inline-block"></i>
                                                    </label>
                                                  </div>  
                                                  
                                                   <!-- star 3 -->
                                                  <div class="input-star-rating-container">
                                                    <input type="radio" id="3-star-rating" name="star-rating" class="input-rating rating-button" value="3">
                                                    <label for="3-star-rating" class="star-rating star label-rating">
                                                        <i class="fas fa-star d-inline-block"></i>
                                                    </label>
                                                  </div>
                                                  
                                                  <!-- star 2 -->
                                                  <div class="input-star-rating-container">
                                                    <input type="radio" id="2-star-rating" name="star-rating" class="input-rating rating-button" value="2">
                                                    <label for="2-star-rating" class="star-rating star label-rating">
                                                        <i class="fas fa-star d-inline-block"></i>
                                                    </label>
                                                  </div>
                                                  
                                                  <!-- star 1 -->
                                                  <div class="input-star-rating-container">
                                                    <input type="radio" id="1-star-rating" name="star-rating" class="input-rating rating-button" value="1">
                                                    <label for="1-star-rating" class="star-rating star label-rating">
                                                        <i class="fas fa-star d-inline-block"></i>
                                                    </label>
                                                  </div>
                                                  
                                                 </div>
                                                
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
					
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-12 col-xl-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4" id = "chat-div">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Chat</h6>
                                </div>
                                <div class="card-body">
                                    <div class="container py-5">

                                        <div class="row d-flex justify-content-center">
                                        <div class="col-md-12 col-lg-12 col-xl-12">

                                            <div class="card" id="chat1" style="border-radius: 15px;">
                                            
                                            <div class="card-body" >
                                                <div id = "chat-content">
                                                    
                                                    {% comment %} <div class="d-flex flex-row justify-content-start mb-4">
                                                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                                        <p class="small mb-0">Hello and thank you for visiting MDBootstrap. Please click the video
                                                        below.</p>
                                                    </div>
                                                    </div>

                                                    <div class="d-flex flex-row justify-content-end mb-4">
                                                    <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                                                        <p class="small mb-0">Thank you, I really like your product.</p>
                                                    </div>
                                                    </div> {% endcomment %}

                                                </div>

                                                <div class="form-outline">
                                                    <textarea class="form-control" id="chat-message-text" rows="4"></textarea>
                                                    <label class="form-label" for="chat-message-text">Type your message</label>
                                                    <input type = "button" value = "Send" id="send-chat-message-button"></input>
                                                </div>

                                            </div>
                                            </div>

                                        </div>
                                        </div>

  </div>
                                </div>
                            </div>

                            

                        
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Jolt Taxi 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href={% url 'logout'%}>Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <script>
        var username = '{{user.username}}'
    </script>
    {% endif %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'admin/js/sb-admin-2.js' %}"></script>

    <!-- Page level plugins -->
    

    <!-- Page level custom scripts -->
    {% comment %} <script src = "{% static 'admin/js/websockettest.js'%}"></script> {% endcomment %}
    <script src = "{% static 'admin/js/websocketRider.js' %}"></script>

    <script src="https://kit.fontawesome.com/1045713bff.js" crossorigin="anonymous"></script>

</body>

</html>